.container.about-us-page > .content {
  padding-top: 23px;
}
.container.about-us-page > .content:before,
.container.about-us-page > .content:after {
  content: "";
  display: table;
}
.container.about-us-page > .content:after {
  clear: both;
}
.container.about-us-page > .content > .header-image {
  margin-left: 6px;
}
.container.about-us-page > .content article {
  margin-top: 38px;
  padding: 0 20px;
  text-align: left;
}
.container.about-us-page > .content article h3 {
  text-align: left;
  font-size: 21px;
  font-weight: normal;
  margin-left: -2px;
  padding-bottom: 2px;
}
.container.about-us-page > .content article p {
  margin: 16px 0;
  font-size: 13px;
  margin-left: 1px;
  line-height: 17px;
}
.container.about-us-page > .content aside {
  width: 222px;
  float: left;
  border: 1px dashed #d1d2d3;
  margin-right: 41px;
  padding: 11px 0 22px 0;
  margin-bottom: 17px;
}
.container.about-us-page > .content aside:before,
.container.about-us-page > .content aside:after {
  content: "";
  display: table;
}
.container.about-us-page > .content aside:after {
  clear: both;
}
.container.about-us-page > .content aside .link {
  float: left;
  clear: both;
  font-size: 13px;
  margin-left: 18px;
  line-height: 35px;
  font-style: italic;
  padding-left: 21px;
  color: #1c75bc;
}
.container.about-us-page > .content aside .link.active {
  color: #9e1f63;
  text-decoration: none;
}
.container.about-us-page > .content {
  margin-bottom: 31px;
}
.container.about-us-page > .content .separate-line {
  background: #dddedf;
  display: inline-block;
  width: 743px;
  height: 1px;
  position: relative;
  font-size: 0px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 15px;
}
.container.about-us-page > .content .separate-line:before {
  content: url(../images/line_dot.jpg) no-repeat;
  height: 3px;
  width: 4px;
  color: #bbbdc0;
  position: absolute;
  left: -4px;
  top: -1px;
}
.container.about-us-page > .content .separate-line:after {
  content: url(../images/line_dot.jpg) no-repeat;
  color: #bbbdc0;
  position: absolute;
  top: -1px;
  right: -4px;
}
.container.about-us-page > .content article {
  margin-top: 44px;
  margin-bottom: 32px;
}
.container.about-us-page > .content article h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
}
.container.about-us-page > .content article p {
  font-size: 14px;
}
.container.about-us-page > .content article .fs-italic {
  font-style: italic;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.lt-ie8 .clearfix {
  zoom: 1;
}
